# dependencies installed by npm
node_modules

# build artifacts
public
.idea

# secrets and errors
.env
.log

# macOS related files
.DS_Store

/.idea/modules.xml
/tls/localhost-cert.pem
/tls/localhost-key.pem
