<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SimpleERB</title>
  <script type="text/javascript" src="https://book.mysimpleerb.com/18326/6-8-bridge-street/init/" ></script>
</head>
<body>
<a href="https://book.mysimpleerb.com/18326/6-8-bridge-street/" class="serbwidget" target="_blank" data-formtarget="true">Book on our widget!</a>
Vertical code
<a href="https://book.mysimpleerb.com/18326/6-8-bridge-street/" class="serbwidget" target="_blank" data-formtarget="true" data-formtargetmode="ver">Book on our widget!</a>
Standard Widget
<a href="https://book.mysimpleerb.com/18326/6-8-bridge-street/" class="serbwidget" target="_blank" >Book a Table</a>
</body>
</html>
