<!DOCTYPE html>
<html lang="{{ language }}">
<!-- {{ pkg.version }} -->
<head>
    <meta charset="utf-8">
    <title>Restaurant Developments Ltd</title>
    <meta name="description" content="Restaurant Developments Ltd">
    <meta name="robots" content="noindex">
    <script>
        const domains = [
            'http://localhost:8006'
        ]
        window.addEventListener("message", messageHandler, false);
        function messageHandler(event) {
            if (!domains.includes(event.origin))
                return;
            const { action, key, value } = event.data
            if (action === 'save'){
                window.localStorage.setItem(key, JSON.stringify(value))
            } else if (action === 'get') {
                const value = JSON.parse(window.localStorage.getItem(key));
                event.source.postMessage({
                    action: 'returnData',
                    key,
                    value
                }, '*')
            }
        }
    </script>
</head>
<body>
<!-- no content -->
</body>
</html>
