<!DOCTYPE html>
<html lang="{{ language }}">

<!-- {{ pkg.version }} -->

<head>

	<meta charset="utf-8">
    <title>{{ restaurant.name }} | {{ restaurant.streetAddress }} {{ restaurant.postalCode }}</title>
    <meta name="description" content="{{ restaurant.description.sentence }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">

    {% include 'partials/_schema.org.njk' %}

    {% include 'partials/_open-graph.njk' %}

    {% include 'partials/_fonts.njk' %}

	<link rel="stylesheet" href="{{ '/assets/styles/style.css' | url }}" />

	{% include 'partials/_hero-image.njk' %}

	<script type="module" src="{{ '/assets/scripts/main.js' | url }}" defer></script>
	<script async defer src="https://www.googletagmanager.com/gtag/js?id={{ gtag }}"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBm6ktQeIUDl0vJBtQoXeAczfWs3EyPMWU&language={{ language }}"></script>

</head>

<body>

	{{ content | safe }}

</body>
</html>
