@use "vars" as *;
@use "../mixins" as *;


/**
 * Google map component
 * -------------------------------------------------
 */
#map {
  height: 480px;
  width:100%;
  @include mq($mq-wide) {
    height: 600px;
  }
}
.map-infowindow {
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-family-default;
  font-weight: $font-weight-bold;
  font-size: 1.8rem;
  padding: .4rem;
  text-align: center;
}
.map-section {
  position: relative;
  max-width: $layout-max-width;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;

  h3 {
    font-family: $font-family-display;
    text-transform: none;
    font-size: 2.8rem;
    margin-bottom: 1rem;
    & ~ h3 {
      margin-top: 2.4rem;
    }
  }
}
.map-legend {
  position: absolute;
  inset: 5rem auto 5rem 5rem;
  width: 38vw;
  background-color: white;
  z-index: 1000;
}
a.btn-map-directions {
  display: inline-block;
  border-radius: 0;
  padding: 1.2rem 2.8rem;
  margin: 1rem 0 2rem;
}

