@use '../vars' as *;
@use "../mixins" as *;

$font-family-display          : 'Suez One', sans-serif;
$font-family-default          : Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$font-weight-normal           : 400;
$font-weight-bold             : 600;

/* Set base font size to 62.5% (10px) to simplify the use of REM i.e. 1.6rem = 16px etc. */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 0.5rem;
  font-family: $font-family-default;
  @include mq($mq-medium) {
    scroll-padding-top: 6.2rem;
  }
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

body,
input {
  font: normal $font-weight-normal 2rem / 1.4 $font-family-default;
  color: $color-body-text;
}
h1 {
  font-size: 3.2rem;
  line-height: 1.1;
  font-weight: $font-weight-bold;
  padding: 1rem 0 0.5rem;
}
h1, h2, h3 {
  color: $color-primary-dark;
  text-transform: uppercase;
}
h4 {
  font-size: .75rem;
  font-weight: $font-weight-bold;
  letter-spacing: .1em;
  color: $color-body-text-accent;
  text-transform: uppercase;
}
p { margin: 0 0 1.6rem; }
strong { font-weight: $font-weight-bold; }
a {
  text-decoration: none;
  color: inherit;
  transition: all .3s ease-out;
  font-weight: $font-weight-normal;
}
dl {
  dt {
    font-size: 1.2rem;
    font-weight: $font-weight-bold;
    letter-spacing: .1rem;
    color: $color-body-text-accent;
    text-transform: uppercase;
    ~ dt { margin-top: 1.6em; }
  }
  dd {}
}
a.inline-link,
p > a:not([class]),
dd > a:not([class]), {
  position: relative;
  color: currentColor;
  text-decoration: none;
  &:after{
    content: '';
    position: absolute;
    width: 0; height: 2px;
    display: block;
    margin-top: 0;
    right: 0;
    background: $color-body-text-accent;
    transition: width .2s ease;
  }
  &:hover:after{
    width: 100%;
    left: 0;
    background: $color-body-text-accent;
  }
}
.btn,
a.btn,
button:not(.hamburger) {
  background: $color-cta-bgd;
  border: 2px solid $color-cta-bgd;
  padding: 1rem 1.5rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: $font-weight-normal;
  font-family: 'suez one', sans-serif;
  color: white;
  text-transform: uppercase;
  &:hover {
    background-color: white;
    color: $color-cta-bgd;
  }
  &.hamburger {
    background-color: $color-nav-bgd;
    color: $color-cta-bgd;
  }
}
.btn-cancel {
  background-color: transparent !important;
  color: $color-body-text !important;
  border: none !important;
  &:hover {
    background-color: #eee !important;
  }
}


