@use "theme-gen" as *;

// Base palette
$clr-primary:   #223163;
$clr-accent:    #0ca2de;
$clr-grey:      #333;
$clr-warn:      hsla(344, 100%, 41%, 1);
$clr-success:   hsla(147, 98%, 35%, 1);

// Generate CSS variables
:root {
  @each $shade, $color in makeColorPalette($clr-primary) {
    --clr-primary-#{$shade}: #{$color};
  }
  @each $shade, $color in makeColorPalette($clr-accent) {
    --clr-accent-#{$shade}: #{$color};
  }
  @each $shade, $color in makeColorPalette($clr-grey) {
    --clr-grey-#{$shade}: #{$color};
  }
}



