@use "theme-gen" as *;

// Base palette
$clr-primary: #01837d;
$clr-accent:    #ff5720;
$clr-grey:      #666666;
$clr-warn:      #EF0606;
$clr-success:   #90EE90;
$clr-white:     #fff;
$clr-black:     #000;

// Generate CSS variables
:root {
  @each $shade, $color in makeColorPalette($clr-primary) {
    --clr-primary-#{$shade}: #{$color};
  }
  @each $shade, $color in makeColorPalette($clr-accent) {
    --clr-accent-#{$shade}: #{$color};
  }
  @each $shade, $color in makeColorPalette($clr-grey) {
    --clr-grey-#{$shade}: #{$color};
  }
}
