@use "theme-gen" as *;
/*
 * Theme name
 * MUST be the same as the filename!
 */
$theme: 'red-orange';

// Base palette
$clr-primary: #b70a0a;
$clr-accent: #fa4e04;

$clr-grey:      #333;
$clr-warn:      hsla(344, 100%, 41%, 1);
$clr-success:   hsla(147, 98%, 35%, 1);

// Generate CSS variables
:root {
  @each $shade, $color in makeColorPalette($clr-primary) {
    --clr-primary-#{$shade}: #{$color};
  }
  @each $shade, $color in makeColorPalette($clr-accent) {
    --clr-accent-#{$shade}: #{$color};
  }
  @each $shade, $color in makeColorPalette($clr-grey) {
    --clr-grey-#{$shade}: #{$color};
  }
}
// Create swatches
.swatch-primary-#{$theme} {
  background-color: $clr-primary;
}
.swatch-accent-#{$theme} {
  background-color: $clr-accent;
}
