---
title: "SPW Template Index"
layout: "layouts/index.hbs"
---

<h1>{{ title }}</h1>
<ul>
    <li><a href="/templates/member.html">Member SPW {{ pkg.version }}</a></li>
    <li><a href="/templates/curated.html">Curated SPW {{ pkg.version }}</a></li>
    <li><a href="/templates/auto.html">Auto SPW {{ pkg.version }}</a></li>
</ul>

