<!-- Optional section tag start - RESERVATIONS -->
<section id="reservations" class="content-section booking-section" aria-label="{{ section.reservations.aria }}">

    <h2 class="section-title">{{ section.reservations.title }}</h2>
    <p>{{ data.reservations.info }}</p>

    {{> partials/booking-email }}

    {{> partials/booking-extra }}

</section>
<!-- Optional section tag end - RESERVATIONS -->
