<!-- RDL BOOKING WIDGET -->
<section id="reservations" class="content-section booking-section" aria-label="booking widget">
    <h2 class="section-title">Reservations</h2>
    <p>{{ data.reservations.info }}</p>
    <iframe src="https://booking.resdiary.com/widget/Standard/IHOFLeeds/19517?date=2024-04-29"></iframe>
</section>
<!-- /RDL BOOKING WIDGET -->
