<!-- group & private bookings -->
<div class="content-block">

    <!-- RDL BOOKING GROUPS -->
    <aside>
        <h2 class="sub-section-title">{{ section.reservations.groups }}</h2>
        <p>{{ data.reservations.groups }}</p>
    </aside>
    <!-- /RDL BOOKING GROUPS -->

    <!-- RDL BOOKING PRIVATE -->
    <aside>
        <h2 class="sub-section-title">{{ section.reservations.private }}</h2>
        <p>{{ data.reservations.private }}</p>
    </aside>
    <!-- /RDL BOOKING PRIVATE -->

</div>
