<!-- group & private bookings -->
<div class="content-block">

    <!-- Optional section tag start - BOOKINGS GROUP -->
    <aside>
        <h2 class="sub-section-title">{{ section.reservations.groups }}</h2>
        <p>{{ data.reservations.groups }}</p>
    </aside>
    <!-- Optional section tag end - BOOKINGS GROUP -->

    <!-- Optional section tag start - BOOKINGS PRIVATE -->
    <aside>
        <h2 class="sub-section-title">{{ section.reservations.private }}</h2>
        <p>{{ data.reservations.private }}</p>
    </aside>
    <!-- Optional section tag end - BOOKINGS PRIVATE -->

</div>
