<div class="brand-container fade-in">

    <div data-venue-logo="{{ data.logo }}"
         class="venue-logo-mask"
         aria-label="Company logo image"></div>

    <h2 data-title>{{ data.name }}</h2>
    <h3 data-title class="subtitle">{{ data.subtitle }}</h3>

    <ul class="hero-nav fade-in">
        {{> partials/nav-options }}
    </ul>
    <span class="desc-one-sentence fade-in">{{ data.description.sentence }}</span>
</div>
