<section id="events" class="content-section" data-events-element>
    <h2 class="section-title">Events & Offers</h2>
    <p>Browse all of our upcoming events and offers by scrolling to the left.</p>
</section>

