<!-- footer -->
<footer>
    <section class="footer-section">
        <a href="https://apptiser.io/" class="footer-logo">
            {{> partials/logo-apptiser }}
        </a>
    </section>
</footer>
