<footer>
    <section class="footer-section">
        <div class="col-span-2">

        </div>
        <div>
            <a href="https://apptiser.io" class="ftr-logo-sml logo-apptiser-white" title="Visit the Restaurant Collective website">
                apptiser
            </a>
        </div>
    </section>
</footer>
