<!-- menu downloads -->
<!-- Optional section tag start - Downloadable Menus -->
<section class="content-section menu-pdf" id="pdfMenus">
    <h2>downloadable menus</h2>
    <p>Any of these menus can be download to your device in PDF format. How quickly they download will be dependant upon your connection speed.</p>
    <div class="content-block menu-downloads">
        <!-- menu download -->
        <div class="menu-card-container">
            <a class="menu-card"
               download="Iffey-Blue-Main-Menu"
               href="http://res.cloudinary.com/rdl/image/upload/v1500984639/restaurants/1036/Iffley_Blue_-_Main_Menu.pdf">
                <h3>A long name a la carte menu</h3>
                <span>Published: 1 May 2018</span>
            </a>
        </div>
        <div class="menu-card-container">
            <a class="menu-card"
               download="Iffey-Blue-Main-Menu"
               href="http://res.cloudinary.com/rdl/image/upload/v1500984639/restaurants/1036/Iffley_Blue_-_Main_Menu.pdf">
                <h3>Short Name Menu</h3>
                <span>Published: 1 May 2018</span>
            </a>
        </div>
    </div>
</section>
<!-- Optional section tag end - Downloadable Menus -->
