<!-- bookings -->
<section id="reservations" class="content-section booking-section" aria-label="booking widget">
    <h2>Reservations</h2>
    <p>You can <a data-mzid="61c46fa7ccf9d0cba39b6387" data-mzkey="61a45e24757d22026a87f369">BOOK ONLINE</a> at
        anytime, or call us during restaurant opening hours on <a
                href="tel:+33492005090">+33 (0) 4 92 00 50 90</a>.</p>
    <!-- booking extras -->

    <div class="content-block">
        <!-- Optional section tag start - Group bookings -->
        <aside>
            <h2>GROUP BOOKINGS</h2>
            <p>{{ rdl_bkg_groups }}</p>
        </aside>
        <!-- Optional section tag end - Group bookings -->
        <!-- Optional section tag start - Private Dining -->
        <aside>
            <h2>PRIVATE DINING</h2>
            <p>{{ rdl_bkg_private }}</p>
        </aside>
        <!-- Optional section tag end - Private Dining -->
    </div>
</section>
