<!-- Optional section tag start - MENUS HTML -->
<section id="menus" aria-label="{{ section.menus.title }}">

    {{> partials/menu-html }}

    {{> partials/menu-downloads }}

</section>
<!-- Optional section tag end - MENUS HTML -->
