<section id="takeaway" class="content-section" data-elem-takeaway>
    <h2 class="section-title">{{ section.takeaway.title }}</h2>
    <div class="content-block">
        <div class="grid-2-1">
            <div>
                <h2>ORDER YOUR FAVOURITES AT HOME</h2>
                <p>For those days when you just don’t want to leave the house, you can order your <strong>{{ data.name }}
                    favourites</strong> through our chosen trusted delivery partner.</p>
            </div>
            <div>
                <a href="/" class="btn-takeaway">
                    <img src="https://res.cloudinary.com/rdl/image/upload/v1709724002/cms/assets/logo-deliveroo.png"
                         alt="Order online">
                </a>
            </div>


        </div>

    </div>
</section>

