
/*
 * Animations
 * ------------------------------------------------
 */
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% { transform: translateY(0); }
  40% { transform: translateY(-10px); }
  60% { transform: translateY(-5px); }
}
@keyframes fadeIn {
  0% {
    transform: translateY(25px);
    opacity:0;
  }
  100% {
    transform: translateY(0);
    opacity:1;
  }
}
.fade-in,
.fade-in-fast{
  position: relative;
  display: block;
  opacity:0;
  animation-name: fadeIn;
  animation-delay: 500ms;
  animation-timing-function: ease-out;
  animation-fill-mode:forwards;
  animation-duration:500ms;
}
.fade-in-fast {
  animation-delay: 0ms;
  animation-duration: 300ms;
}
