@use 'vars' as *;
@use 'mixins' as *;
@use 'flatpickr' as *;

.booking-request-container {
  width: 100%;
  background-color: white;
  .form-booking-request {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3px;

    @include mq($mq-wide ) {
      grid-template-columns: 2fr 2fr 3fr 240px;
    };

    .selector {
      position: relative;
      height: 6rem;
      background-color: #eee;
      font-weight: 500;
      &:first-child {
        border-radius: 8px 8px 0 0;
        @include mq($mq-medium ) {
          border-radius: 8px 0 0 8px;
        };
      }
      > select {
        width: 100%;
        opacity: 0;
        height: 100%;
        cursor: pointer;
      }
      &-substitute {
        position: absolute;
        inset: 0;
        height: 100%;
        display: flex;
        align-items: center;
        width: 100%;

        .icon {
          display: flex;
          width: 30px;
          aspect-ratio: 1;
          margin: 1rem;
          align-items: center;
        }
        .selected-value {
          flex: 1;
        }
        .select-input {
          display: inline-block;
          flex: 1;
          width: 100%;
          font-weight: 500;

        }
      }
    }
    button {
      background-color: $color-cta-bgd;
      border-radius: 0 0 8px 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      cursor: pointer;
      transition-duration: 300ms;
      transition-property: background-color, color;
      transition-timing-function: ease-out;
      height: 6rem;
      color: $color-cta-label-light;
      &:hover, &:focus-visible {
        color: white;
        background-color: $color-cta-bgd-dark;
      }
      @include mq($mq-medium ) {
        border-radius: 0 8px 8px 0;
      };
    }
  }
}

.modal-window {
  padding: 3rem;
  max-height: 100vh;
  overflow-y: auto;
  @include mq($mq-medium) {
    height: auto;
  }
}
.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  button {
    padding: 1rem 1.5rem;
    cursor: pointer;
    font-size: 1.6rem;
    text-transform: uppercase;
    transition-property: color, background-color;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    &.btn-submit {
      border-radius: 8px;
      background-color: $color-cta-bgd;
      color: $color-cta-label-light;
      &:hover,
      &:focus-visible {
        background-color: $color-cta-bgd-dark;
        color: $color-cta-label-light;
      }
    }
  }
}
.booking-summary {
  ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:2rem;
    margin-block: 1rem;
    font-weight: $font-weight-bold;

    .icon {
      height: 30px;
      aspect-ratio: 1;
    }
  }

}

.form-email-request {
  h2 {
    margin-top: 2rem;
    font-weight: $font-weight-bold;
    text-transform: none;
    color: $color-body-text;
  }
  .text-field {
    position: relative;
    margin: 2rem auto;
    &:first-child { margin-top: 0; }
  }
  input {
    font-size: 2rem;
    line-height: 1;
    padding: 1rem 0 0.5rem;
    width: 100%;
    outline: none;
    border: 0;
    border-bottom: 3px solid #999;
    &[name='full_name'] {
      text-transform: capitalize;
    }
    &:focus { border-bottom-color: $color-primary; }

  }
  label {
    font-size: 1.6rem;
    position: absolute;
    color: #666;
    left: 0;
    top: 13px;
    pointer-events: none;
    transition: 0.2s ease all;
  }
  form:focus,
  input:focus,
  input:valid {
    ~ label {
      top: -10px;
      font-size: 11px;
      text-transform: uppercase;
    }
  }
  input:not(:placeholder-shown) {
    ~ label {
      top: -10px;
      font-size: 11px;
      text-transform: uppercase;
    }
    &:invalid ~ label{
      color: red;
    }
  }
}
.booking-request-thanks {
  display: none;
  align-items: center;
  padding: 24px;
  font-weight: $font-weight-bold;
  background: white;
  border-radius: 10px;
  opacity: 0;
  img {
    display: inline-block;
    margin-right: 8px;
  }
}

// Adjust styling to match non-mobile
.flatpickr-mobile {
  font-weight: $font-weight-bold;
  //padding: 0 14px 0 50px;
  transform: translateX(-20px);
}

.icon {
  .two-tone {
    fill: $color-cta-bgd;
  }
  &-covers::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="100%"><path d="M38-160v-94q0-35 18-63.5t50-42.5q73-32 131.5-46T358-420q62 0 120 14t131 46q32 14 50.5 42.5T678-254v94H38Zm700 0v-94q0-63-32-103.5T622-423q69 8 130 23.5t99 35.5q33 19 52 47t19 63v94H738ZM358-481q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42Zm360-150q0 66-42 108t-108 42q-11 0-24.5-1.5T519-488q24-25 36.5-61.5T568-631q0-45-12.5-79.5T519-774q11-3 24.5-5t24.5-2q66 0 108 42t42 108ZM98-220h520v-34q0-16-9.5-31T585-306q-72-32-121-43t-106-11q-57 0-106.5 11T130-306q-14 6-23 21t-9 31v34Zm260-321q39 0 64.5-25.5T448-631q0-39-25.5-64.5T358-721q-39 0-64.5 25.5T268-631q0 39 25.5 64.5T358-541Zm0 321Zm0-411Z"/></svg>');
    width: 100%;
    height: 100%;

  }
  &-time::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="100%"><path d="m627-287 45-45-159-160v-201h-60v225l174 181ZM480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-82 31.5-155t86-127.5Q252-817 325-848.5T480-880q82 0 155 31.5t127.5 86Q817-708 848.5-635T880-480q0 82-31.5 155t-86 127.5Q708-143 635-111.5T480-80Zm0-400Zm0 340q140 0 240-100t100-240q0-140-100-240T480-820q-140 0-240 100T140-480q0 140 100 240t240 100Z"/></svg>');
    width: 100%;
    height: 100%;
  }
  &-date::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="100%"><path d="M352.817-310Q312-310 284-338.183q-28-28.183-28-69T284.183-476q28.183-28 69-28T422-475.817q28 28.183 28 69T421.817-338q-28.183 28-69 28ZM180-80q-24 0-42-18t-18-42v-620q0-24 18-42t42-18h65v-60h65v60h340v-60h65v60h65q24 0 42 18t18 42v620q0 24-18 42t-42 18H180Zm0-60h600v-430H180v430Zm0-490h600v-130H180v130Zm0 0v-130 130Z"/></svg>');
    width: 100%;
    height: 100%;
  }
  &-arrow-down {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="100%"><path d="M480-345 240-585l43-43 197 198 197-197 43 43-240 239Z"/></svg>');
  }
}




