@use 'vars' as *;
@use 'mixins' as *;
@use 'flatpickr' as *;

.booking-request-container {
  background-color: white;
  .form-booking-request {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr 240px;
    gap: 3px;

    .selector {
      position: relative;
      height: 6rem;
      background-color: #eee;
      font-weight: 500;
      &:first-child {
        border-radius: 8px 0 0 8px;
      }
      > select {
        width: 100%;
        opacity: 0;
        height: 100%;
      }
      &-substitute {
        position: absolute;
        inset: 0;
        height: 100%;
        display: flex;
        align-items: center;
        width: 100%;

        .icon {
          display: flex;
          width: 30px;
          height: 100%;
          margin: 1rem;
          .line {
            fill: $color-primary;
          }
          .two-tone {
            fill: $color-primary;
          }
        }
        .selected-value {
          flex: 1;
        }
        .select-input {
          display: inline-block;
          flex: 1;
          width: 100%;
          font-weight: 500;
        }
      }
    }
    button {
      background-color: $color-cta-bgd;
      border-radius: 0 8px 8px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-weight: 500;
      //margin-left: 2px;
    }
  }
}

.modal-window {
  height: auto;
  padding: 2rem;
}
.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  button {
    padding: 1rem 1.5rem;
    cursor: pointer;
    &.btn-submit {
      border-radius: 8px;
      background-color: $color-cta-bgd;
      font-size: 1.6rem;
      font-weight: $font-weight-bold;
    }
  }
}
.bkg-summary {
  li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    .icon {
      width: 40px;
    }
  }
}






