@use "vars" as *;
@use "mixins" as *;

.hidden {
  display: none !important;
}

.event-scroller {
  --spacer: 1.5rem;
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 100%;
  grid-gap: var(--spacer);
  padding-block: 1rem;
  overflow-x: auto;
  overscroll-behavior: contain auto;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    height: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-radius: 12px;
  }

  &::-webkit-scrollbar-track {
    background: $color-grey-lightest;
    border-radius: 12px;
  }

  @include mq($mq-medium){
    grid-auto-flow: column;
    grid-auto-columns: 45%;
  }
}
.event-card {
  background: $color-grey-lightest;
  display: grid ;
  height: 100%;
  grid-template-rows: min-content;
  border-radius: $radius-sml;
  overflow: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  &-content {
    padding: var(--spacer);
  }
  .event-card-subtitle {
    display: block;
    font-size: 1.4rem;
    font-weight: $font-weight-bold;
    margin-bottom: 1rem;
  }
  h2 {
    font-family: $font-family-default;
    font-weight: $font-weight-bold;
    margin-bottom: 0;
  }
  > img {
    inline-size: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }
  a {
    color: $color-body-text-accent;
    font-size: 1.6rem;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }
}
.snaps-inline {
  scroll-snap-type: inline mandatory;
}
.snaps-inline > * {
  scroll-snap-align: center;
}

