@use "vars" as *;
@use "mixins" as *;


/**
 * Google map component
 * -------------------------------------------------
 */
#map {
  height: 480px;
  width:100%;
  @include mq($mq-wide) {
    height: 800px;
  }
}
.map-infowindow {
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-family-default;
  font-weight: $font-weight-bold;
  font-size: 1.8rem;
  padding: .4rem;
  text-align: center;
}
.map-section {
  position: relative;
}
a.btn {
  all: unset;
  cursor: pointer;
  background: $color-cta-bgd;
  padding: 2rem 2.5rem;
  color: white;
  border-radius: $radius-sml;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2rem;
  &-map-directions {
    position: absolute;
    inset: 3rem auto auto 3rem;

  }
}
