@use "vars" as *;
@use "mixins" as *;

$msg-header-height: 72px;
$msg-gutter: 48px;
$icon-fill-opacity: .5;


.modal-messages {
  z-index: 500;
  position: fixed;
  inset: auto 0 0 0;
  translate: 0;
  width: $btn-size;
  max-width: 100vw;
  height: auto;
  border-radius: 0;
  font-size: 1.6rem;
  line-height: 1;
  cursor: pointer;
  opacity: 0;
  transition: all .3s ease-out;
  transform-origin: center;
  overflow: hidden;
  box-shadow: $modal-box-shadow;

  @include mq($mq-medium) {
    position: fixed;
    inset: auto $msg-gutter $msg-gutter auto;
    translate: 0;
    border-radius: calc(#{$btn-size}/4);
    max-width: $width-promo-btn;
  }

  .msg-header {
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 2rem;
    background-color: $color-cta-bgd;
    transition: background-color .3s ease-out;
    width: 100%;
    max-width: 100vw;
    @include mq($mq-medium) {
      width: $width-promo-btn;
    }

    &:hover {
      background-color: $color-cta-bgd-dark;
    }
    svg { height: 32px;}
    h2 {
      color: white;
      letter-spacing: 1px;
      font-size: 1.8rem;
      white-space: nowrap;
      opacity: 0;
      transition: opacity .3s ease-out;
      text-align: center;
    }
    &.reveal h2 {
      opacity: 1;
    }
    #close {
      opacity: 0;
      transition: opacity .3s ease-out;
    }
    &.open {
      #close {
        opacity: 1;
      }
    }

  }
  .msg-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }
  .msg-body {
    height: auto;
    max-height: 0;
    transition: max-height .3s ease-out;
    padding-inline: 2rem;
    overflow-y: scroll;
    &.active {
      max-height: calc(100vh - (#{ $msg-header-height } + 2 * #{ $msg-gutter })) };
      background-color: white;
    ul {
      display: flex;
      flex-direction: column;
      padding-top: .5rem;
    }
    li {
      border-bottom: 1px solid $color-body-text-accent;
      &:last-child {
        margin-bottom: 1rem;
        border-bottom: none;
      }
      padding-block: 1.25rem;
      header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: .5rem;
      }
      img {
        height: 56px;
        margin-bottom: 1rem;
      }
      h3 {
        display: inline-block;
        font-size: 1.875rem;
        line-height: 1;
        font-weight: $font-weight-bold;
        color: black;
        text-transform: none;
      }
      p {
        margin-block: .75rem 0;
        font-weight: $font-weight-normal;
        line-height: 1.2;
      }
      > a {
        display: flex;
        justify-content: flex-end;
        font-size: 1.6rem;
        font-weight: $font-weight-bold;
        margin-top: .5rem;
        color: $color-body-text-accent;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .category {
    &::after {
      width: 36px;
      aspect-ratio: 1;
      display: block;
      content: url('data:image/svg+xml;utf8,' +
                        '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">' +
                          '<path fill="none" d="M0 0h24v24H0V0z"/>' +
                          '<path fill="#{$color-cta-bgd}" d="M5 8h14V6H5z" opacity="#{$icon-fill-opacity}"/>' +
                          '<path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zm0-12H5V6h14v2zm-7 5h5v5h-5z"/>' +
                        '</svg>');
    }
    &.music::after {
      content: url('data:image/svg+xml;utf8,' +
      '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M180-120q-24 0-42-18t-18-42v-600q0-23 18-41.5t42-18.5h600q23 0 41.5 18.5T840-780v600q0 24-18.5 42T780-120H180Zm0-60h157v-210h-20q-12.75 0-21.375-8.625T287-420v-360H180v600Zm443 0h157v-600H673v360q0 12.75-8.625 21.375T643-390h-20v210Zm-246 0h206v-210h-20q-12.75 0-21.375-8.625T533-420v-360H427v360q0 12.75-8.625 21.375T397-390h-20v210Z"/></svg>');
    }
    &.offer::after {
      content: url('data:image/svg+xml;utf8,' +
              '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">' +
                '<path fill="none" d="M0 0h24v24H0V0z"/>' +
                '<path fill="#{$color-cta-bgd}" d="M19.47 9.16a8.027 8.027 0 0 0-7.01-5.14l2 4.71 5.01.43zm-7.93-5.14c-3.22.18-5.92 2.27-7.02 5.15l5.02-.43 2-4.72zm-7.31 6.12C4.08 10.74 4 11.36 4 12c0 2.48 1.14 4.7 2.91 6.17l1.11-4.75-3.79-3.28zm15.54-.01-3.79 3.28 1.1 4.76A7.99 7.99 0 0 0 20 12c0-.64-.09-1.27-.23-1.87zM7.84 18.82c1.21.74 2.63 1.18 4.15 1.18 1.53 0 2.95-.44 4.17-1.18L12 16.31l-4.16 2.51z" />' +
                '<path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zm7.48 7.16-5.01-.43-2-4.71c3.21.19 5.91 2.27 7.01 5.14zM12 8.06l1.09 2.56 2.78.24-2.11 1.83.63 2.73L12 13.98l-2.39 1.44.63-2.72-2.11-1.83 2.78-.24L12 8.06zm-.46-4.04-2 4.72-5.02.43c1.1-2.88 3.8-4.97 7.02-5.15zM4 12c0-.64.08-1.26.23-1.86l3.79 3.28-1.11 4.75A8.014 8.014 0 0 1 4 12zm7.99 8c-1.52 0-2.94-.44-4.15-1.18L12 16.31l4.16 2.51A8.008 8.008 0 0 1 11.99 20zm5.1-1.83-1.1-4.76 3.79-3.28c.13.6.22 1.23.22 1.87 0 2.48-1.14 4.7-2.91 6.17z"/>' +
              '</svg>');
    }
    &.discount::after {
      content: url('data:image/svg+xml;utf8,' +
      '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M640-520q17 0 28.5-11.5T680-560q0-17-11.5-28.5T640-600q-17 0-28.5 11.5T600-560q0 17 11.5 28.5T640-520ZM320-620h200v-60H320v60ZM180-120q-34-114-67-227.5T80-580q0-92 64-156t156-64h200q29-38 70.5-59t89.5-21q25 0 42.5 17.5T720-820q0 6-1.5 12t-3.5 11q-4 11-7.5 22.5T702-751l91 91h87v279l-113 37-67 224H480v-80h-80v80H180Zm45-60h115v-80h200v80h115l63-210 102-35v-175h-52L640-728q1-25 6.5-48.5T658-824q-38 10-72 29.5T534-740H300q-66.286 0-113.143 46.857T140-580q0 103.158 29 201.579T225-180Zm255-322Z"/></svg>');
      filter: hue(red);
    }
  }
}
.svgTone {
  fill: green;
  opacity: .5;
}

