@use "vars" as *;
@use "mixins" as *;

$msg-header-height: 72px;
$msg-gutter: 48px;

.modal-messages {
  z-index: 500;
  position: fixed;
  bottom: $msg-gutter;
  right: 50%;
  translate: 50%;
  width: $btn-size;
  max-width: $btn-size-max;
  height: auto;

  border-radius: calc(#{$btn-size}/4);
  font-size: 1.6rem;
  line-height: 1;
  cursor: pointer;
  opacity: 0;
  transition: all .3s ease-out;
  transform-origin: center;
  overflow: hidden;
  box-shadow: $modal-box-shadow;

  @include mq(800px) {
    position: fixed;
    bottom: $msg-gutter;
    right: $msg-gutter;
    translate: 0;
  }

  .msg-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    background-color: $color-cta-bgd;
    //height: $msg-header-height;
    transition: background-color .3s ease-out;
    &:hover {
      background-color: $color-cta-bgd-dark;
    }
    h2 {
      color: white;
      letter-spacing: 1px;
      font-size: 1.8rem;
      white-space: nowrap;
      opacity: 0;
      transition: opacity .3s ease-out;
      text-align: center;
    }
    &.reveal h2 { opacity: 1; }
  }
  .msg-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }
  .msg-body {
    height: auto;
    max-height: 0;
    transition: max-height .3s ease-out;
    padding-inline: 2.4rem;
    overflow-y: scroll;
    &.active {
      max-height: calc(100vh - (#{ $msg-header-height } + 2 * #{ $msg-gutter })) };
      background-color: white;
    ul {
      display: flex;
      flex-direction: column;
    }

    li {
      border-bottom: 1px solid #eee;
      &:last-child { margin-bottom: 3rem; }
      padding-block: 1.6rem;
      header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
      }
      img {
        height: 56px;
        margin-bottom: 1rem;
      }
      h3 {
        display: inline-block;
        font-size: 1.875rem;
        line-height: 1;
        font-weight: $font-weight-bold;
        color: black;
        text-transform: none;
      }
      p {
        margin-block: .75rem 0;
        font-weight: $font-weight-normal;
        line-height: 1.2;
      }
      > a {
        display: flex;
        justify-content: flex-end;
        font-size: 1.6rem;
        font-weight: $font-weight-bold;
      }
    }
  }
  .cal-date {
    display: inline-block;
    &-month {
      display: block;
      background-color: $color-primary-dark;
      border-radius: 6px 6px 0 0;
      text-transform: uppercase;
      text-align: center;
      color: white;
      padding: .25rem;
      font-size: 9px;
    }
    &-day {
      display: block;
      font-size: 2rem;
      padding: .25rem .75rem .375rem;
      text-align: center;
      background-color: $color-grey-light;
      border-radius: 0 0 6px 6px;
      font-weight: 500;
      min-width: 3ch;
    }
  }
}
