@use "vars" as *;
@use "mixins" as *;

.hero-section {
  height: 100vh;
  display: grid;
  place-items: center;
  > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  > img {
    position: fixed;
    inset: 0 0 0 0;
    z-index: -1;
    height: inherit;
    width: 100vw;
    object-fit: cover;
  }
  &.golden-ratio { height: 62vh; }
  .brand-container {
    font-family: $font-family-display;
    text-align: center;
    width: min(90%, 800px);
    h2 {
      font-size: clamp(5rem, 5vw, 8rem);
      color: #fff;
      line-height: 1.1;
    }
    h3 {
      color: #fff;
      font-size: clamp(2.4rem, 3vw, 4rem  );
      font-weight: 200;
      margin: 0 0 1rem;
      padding: 0 2rem;
    }
  }
  .desc-one-sentence {
    font-family: $font-family-default;
    font-size: clamp(2rem, 3vw, 4rem  );
    line-height: 1.1;
    color: rgba(white, 0.75);
    font-weight: $font-weight-normal;
    text-transform: none;
    text-align: center;
    margin: 0 auto;
    animation-delay: 750ms;
  }
  .hero-nav {
    display: none;
    padding: 1rem 0;
    li {
      display: inline-block;
      margin: 0 1rem;
      a {
        color: #fff;
        font-family: $font-family-default;
        font-size: 1.6rem;
        font-weight: $font-weight-normal;
        letter-spacing: .2rem;
        text-decoration: none;
        text-transform: uppercase;
        opacity: 1;
        transition: opacity .3s ease-in-out;
      }
    }
    &:hover > li a {
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
    @include mq($mq-medium) {
      display: block;
    }
  }
  .img-credit {
    position: absolute;
    z-index: 500;
    top: 2rem;
    left: 2rem;
    display: block;
    line-height: 1;
    font-size: 11px;
    padding: 4px;
    color: white;
    background-color: rgba(0,0,0,.5);
  }
}

main { background-color: white; }
.content-section {
  max-width: $layout-max-width;
  margin: 0 auto;
  padding: 1rem 32px 2rem;
  @include mq($mq-medium) {
    padding-top: 8rem;
  }
  h2 {
    font-size: 3.25rem;
    font-weight: $font-weight-bold;
  }
}
.content-section-full-width {
  max-width: 100vw;
  padding: 0;
  margin:0;
}
.content-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 2rem;
  aside {
    flex: 1;
    &:not(:first-child){ padding: 1rem 0 0 0; }
    h2 {
      font-size: 1.25rem;
      color: $color-txt-highlight;
      font-weight: $font-weight-bold;
    }
  }
  @include mq($mq-medium) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 3rem;
    aside {
      &:not(:first-child){
        padding: 0 0 0 2rem;
      }
    }
  }
}
.descriptions {
  p:first-child {
    font-weight: $font-weight-bold;
    font-size: 2.4rem;
    line-height: 1.2;
  }
  @include mq($mq-medium) {
    flex: 2;
    padding-right: 1rem;
    p:first-child { font-size: 2.8rem; }
  }
}
.opening-times {
  margin-top: 2rem;
  dd.times {
    white-space: pre-line;
  }
  @include mq($mq-medium) {
    margin-top: 0;
    padding-left: 1rem;
    flex: 1;
  }
}
.additional-features {
  font-size: 0;
  margin-top: 3rem;
  li {
    display: inline-block;
    padding: 6px 12px;
    background: $color-petrol;
    border-radius: 300px;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: $font-weight-bold;
    color: #fff;
    margin: 0 .2rem .2rem 0;
    @include mq($mq-medium) {
      font-size: 1.4rem;
    }
  }
}
dd {
  .social-links {
    display: flex;
    height: auto;
    padding-top: 1rem;
    gap: 8px;
    white-space: normal;

    a {
      display: inline-block;
      width: 40px;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
.social {
  dd {
    font-size: 0;
    margin: 1rem 1rem 0 0;
    float: left;
    a.social-link {
      display: inline-block;
      width: 4rem;
      height: auto;
      &:hover {
        transform: scale(1.15);
      }
    }
  }
}
footer {
  color: $color-grey-light;
  background-color: $color-black;
  padding: 2rem;
  .footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: $layout-max-width;
    margin: auto;
    div {
      color: #ddd;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      h3 { text-transform: none; }
      p { font-size: 1.2rem; margin: 0;}
      a {
        color: $color-txt-highlight;
        font-weight: $font-weight-normal;
      }
      a.ftr-logo-sml {
        height: 100%;
        opacity: .7;
        svg {
          height: 40px;
        }
        &:hover { opacity: 1; }
      }
      button {
        background: 0;
        border-radius: 6px;
        border: 1px solid white;
        font-size: 1.4rem;
        color: white;
        cursor: pointer;
        height: 40px;
        padding: .8rem;
        white-space: nowrap;
      }
    }
    @include mq($mq-medium) {
      flex-direction: row;
    }
  }
  .col-span-2 {
    grid-column: 2 / 4;
  }
}
