// Theme colours
$color-page-bg                : var(--clr-page-bg, White);
$color-page-text              : var(--clr-page-txt, DimGrey);
$color-page-accent            : var(--clr-page-accent, OrangeRed);
$color-page-accent-dark       : var(--clr-page-accent-dark, OrangeRed);
$color-nav-bg                 : var(--clr-nav-bg, DimGrey);
$color-nav-menu               : var(--clr-nav-menu, White);
$color-nav-accent             : var(--clr-nav-accent, MediumTurquoise);
$color-cta-bg                 : var(--clr-cta-bg, OrangeRed);
$color-cta-label              : var(--clr-cta-label, white);
$color-cta-bg-dark            : var(--clr-cta-bg-dark);


// Standard UI colours
$color-black                  : hsl(0, 0%, 5%);
$color-grey-light             : hsl(0, 0%, 93%);

// fonts
$font-family-default          : system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$font-family-display          : 'Antonio', sans-serif;
$font-weight-normal           : 300;
$font-weight-bold             : 400;

// layout
$layout-max-width             : 1060px;
$mq-narrow                    : 35em; // 700px
$mq-medium                    : 48em; // 960px
$mq-wide                      : 59em; // 1200px

$modal-box-shadow             : rgba(0, 0, 0, 0.25) 0 54px 55px,
                                rgba(0, 0, 0, 0.12) 0 -12px 30px,
                                rgba(0, 0, 0, 0.12) 0 4px 6px,
                                rgba(0, 0, 0, 0.17) 0 12px 13px,
                                rgba(0, 0, 0, 0.09) 0 -3px 5px;
$radius-sml                   : 5px;

/**
* Hamburger menu button
* ------------------------------------
*
**/
$hamburger-padding            : 8px 12px ;
$hamburger-layer-color        : $color-nav-bg;
$hamburger-line-width         : 40px !default;
$hamburger-line-height        : 4px !default;
$hamburger-line-spacing       : 6px !default;
$hamburger-line-color         : $color-nav-menu;
$hamburger-line-border-radius : 2px !default;
$hamburger-hover-trans-dur    : 0.15s !default;
$hamburger-hover-trans-func   : linear !default;

$rdl-width: 360px;
$rdl-height: 480px;
$rdl-radius: 12px;
$btn-size: 80px;
$btn-size-max: 90vw;
$shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
