
$color-txt-body               : #4a4a4a;
$color-txt-highlight          : #ff5720;
$color-black                  : #2a2929;
$color-green                  : #8BC349;
$color-blue                   : #2096F3;
$color-blue-light             : #e2f0f3;
$color-petrol                 : #00BCD3;
$color-grey-light             : #9E9E9E;
$color-slate                  : #607D8B;
$color-brand                  : #00a69b;
$clr-grey-100                 : #eee;

$font-family-default          : 'Rubik', sans-serif;
$font-family-display          : 'Antonio', sans-serif;
$font-weight-normal           : 300;
$font-weight-bold             : 400;

$layout-max-width             : 1060px;
$mq-narrow                    : 35em; // 700px
$mq-medium                    : 48em; // 960px
$mq-wide                      : 59em; // 1200px

$modal-box-shadow             : rgba(0, 0, 0, 0.25) 0 54px 55px,
                                rgba(0, 0, 0, 0.12) 0 -12px 30px,
                                rgba(0, 0, 0, 0.12) 0 4px 6px,
                                rgba(0, 0, 0, 0.17) 0 12px 13px,
                                rgba(0, 0, 0, 0.09) 0 -3px 5px;

/**
* Hamburger menu button
* ------------------------------------
*
**/
$hamburger-padding                         : 8px 12px ;
$hamburger-layer-color                     : #fff ;
$hamburger-line-width                      : 40px !default;
$hamburger-line-height                     : 4px !default;
$hamburger-line-spacing                    : 6px !default;
$hamburger-line-color                      : white;
$hamburger-line-border-radius              : 2px !default;
$hamburger-hover-transition-duration       : 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;
